<!DOCTYPE html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC|Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href=" https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css " integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="  https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="  https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src=" https://kit.fontawesome.com/68f8681dba.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/style.css">
    <title>finish</title>
    <style>
    .grid-item {
        width: percentage(1/3);
        float: right;
        padding-right: 300px;
    }
    </style>
</head>

<body>
<header>
    <div class='container'>
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" th:href="@{/home}"><img src='pictures/logo.jpg' width='105'></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/home}">主頁</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="contact.html">聯絡我們</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="faq.html">常見問題</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/login}">登入</a>
                    </li>
                </ul>
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/home}"><img src='pictures/user.png'  width="40" height="40" ></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/shopcart}"><img src='pictures/shopcart.jpg'  width="40" height="40" ></a>
                    </li>
                </ul>

            </div>
        </nav>
    </div>
</header>

<br>
<img style="margin-left: 32.5%; width:510px;" src="pictures/cartpic3.png">
<br><br>

<section id="first" >
    <div class="container; shoppingBox" style="margin:center">
        <div class="row">
            <div class="col-md-3 text-center" style="margin-top: 35px; padding-left: 40px; padding-bottom:35px">
                <img src="pictures/cookie_origin.png" >
            </div>
            <div class="col-md-4" style="margin-top: 40px; padding-left: 40px; padding-bottom:15px">
                <span style="text-align: center; color: dimgray; font-size: 14px" class="form-check-label">
                    萬聖節小餅乾
                    <br><br>
                    -店長推薦
                </span>

            </div>
            <div class="col-md-2" style="margin-top: 40px; padding-left: 40px; padding-bottom:15px">
                <span style="text-align: center; color: dimgray; font-size: 14px" class="form-check-label">
                    <br>&emsp;&emsp;1
                </span>
            </div>
            <div class="col-md-3" style="margin-top: 40px; padding-left: 40px; padding-bottom:15px">
                <span style="text-align: center; color: dimgray; font-size: 14px" class="form-check-label">
                    <br>&emsp;&emsp;$ 500
                </span>
            </div>
        </div>
    </div>
</section>

<section id="FIN3">
<div  class='col'>
    <div class="container" style="margin:center">
        <div class="row">
            <div class="col-md-3 text-center" style="margin-top: 35px; padding-left: 40px; padding-bottom:35px">

            </div>
            <div class="col-md-4" style="margin-top: 10px; padding-left: 40px; padding-bottom:15px">
                <span style="text-align: center; color: dimgray; font-size: 14px" class="form-check-label">

                </span>

            </div>
            <div class="col-md-2" style="padding-top: 10px; padding-left: 40px; padding-bottom:15px">
                <span style="text-align: right; color: dimgray; font-size: 14px" class="form-check-label">
                    <br>商品金額
                    <br>&emsp;&emsp;運費
                    <br>優惠折抵
                    <hr class="style-up" />
                    金額總計
                </span>
            </div>
            <div class="col-md-3" style="padding-top: 10px; padding-left: 40px; padding-bottom:15px">
                <span style="text-align: center; color: dimgray; font-size: 14px" class="form-check-label">
                    <br>$ 500
                    <br>$ 200
                    <br>- $ 0
                    <hr class="style-up" />

                </span>
                <span>NT$ 700</span>

            </div>

        </div>
    </div>
</div>
</section>

<div id="FIN2" class='col'>

    <h4 style="color: dimgray; font-size: 16px; padding-left: 15px; padding-top:25px;padding-bottom:10px">收件人資訊</h4>
    <hr class="style-up" />
    <label style="color: dimgray; font-size: 14px; padding: 5px 20px" class="form-check-label">付款方式</label>
    <span style="color: dimgray; font-size: 14px; padding: 5px 50px">7-11取貨付款</span>

    <hr class="style-up" />
    <label style="color: dimgray; font-size: 14px; padding: 5px 20px" class="form-check-label">	訂購姓名</label>
    <span style="color: dimgray; font-size: 14px; padding: 5px 50px">OOO</span>

    <hr class="style-up" />
    <label style="color: dimgray; font-size: 14px; padding: 5px 20px" class="form-check-label">	取貨門市</label>
    <span style="color: dimgray; font-size: 14px; padding: 5px 50px">逢甲門市-台中市西屯區西屯路二段272之3號之4號1樓</span>

    <hr class="style-up" />
    <label style="color: dimgray; font-size: 14px; padding: 5px 20px" class="form-check-label">	發票類型</label>
    <span style="color: dimgray; font-size: 14px; padding: 5px 50px">電子發票 - 個人</span>
    <hr class="style-up" />
    <div style="margin-bottom: 15px; padding-left:20px">
        <input type="checkbox" >
        <span style="color: #969696; font-size: 14px; padding: 3px 10px">以電子郵件傳送最新消息與優惠活動給我</span>
        </div>
</div>
 <!--勾選-->


<br>
<div id="FIN2" class='col'>

    <h4 style="color: dimgray; font-size: 16px; padding-left: 15px; padding-top:25px;padding-bottom:10px">注意事項</h4>
    <hr class="style-up" />
    <label style="color: dimgray; font-size: 14px; padding: 5px 20px" class="form-check-label">
        ※ 本訂單已發送至超商系統，恕無法取消或修改訂單內容。
    </label>
    <label style="color: dimgray; font-size: 14px; padding: 5px 20px" class="form-check-label">
        ※ 商品送達門市時，系統會以簡訊及E-mail通知您取貨。
    </label>
    <label style="color: dimgray; font-size: 14px; padding: 5px 20px" class="form-check-label">
        ※ 取貨時請告訴門市人員您的姓名，並於當場支付現金即可。
    </label>
    <label style="color: dimgray; font-size: 14px; padding: 5px 20px" class="form-check-label">
        ※ 如訂購之商品無法順利出貨或缺貨，我們將主動通知您並取消該訂購品項。
    </label>
    <label style="color: dimgray; font-size: 14px; padding: 5px 20px" class="form-check-label">
        ※ 如您未前往門市取貨，累積2次退貨記錄後，將無法再使用便利商店取貨付款服務，請務必注意！
    </label>
    <label style="color: dimgray; font-size: 14px; padding: 5px 20px; margin-bottom: 10px" class="form-check-label">
        ※ 電子發票相關詳細說明，請參考「購物說明」。
    </label>

</div>

<br>
<div class="grid-item">
    <div style=" color: white; text-align: center" class="row">
        <button type="button" class="btn1 btn-light">
            <a th:href="@{/home}"><span style="color:#FFF2F2;">回到首頁</span></a>
        </button>
        <button  style="margin-left: 10px;color: white;text-align: center;" type="button" class="btn1 btn-light" data-toggle="modal" data-target="#exampleModal">
            <a><span style="color:#FFF2F2;">送出訂單</span></a>
        </button>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">溫馨提示</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body"style="text-align: center" >
                    <b font face="微軟正黑體">訂單送出後，將無法修改</b font>
                    <br>
                    <b font face="微軟正黑體">請於3-4個工作日後，攜帶證件完成取件</b font>

                </div>
                <a class="nav-link" >
                    <div class="modal-footer">
                        <a th:href="@{/shopcart}">
                        <button type="button" class="btn btn-secondary"  >檢視訂單</button>
                        </a>
                        <a th:href="@{/history}">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">確認送出</button>
                        </a>
                    </div>
                </a>
            </div>
        </div>
    </div>

</div>
<br><br><br>


</body>

</html>