<!DOCTYPE html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC|Open+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" href=" https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css " integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="  https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src=" https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="  https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src=" https://kit.fontawesome.com/68f8681dba.js" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="css/style.css">
        <title>Home</title>
    </head>

    <body>
    <header>
        <div class='container'>
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="home.html"><img src='pictures/logo.jpg' width='105'></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="home.html">主頁</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="contact.html">聯絡我們</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="faq.html">常見問題</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="login.html">登入</a>
                        </li>
                    </ul>
                    <ul class="nav justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link" href="profile.html"><img src='pictures/user.png'  width="40" height="40" ></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="shopcart.html"><img src='pictures/shopcart.jpg'  width="40" height="40" ></a>
                        </li>
                    </ul>

                </div>
            </nav>
        </div>
    </header>
    <section id='latest'>
        <div class="container">
            <div class='row'>
                  <div class='col-md-12 text-center'>
                      <div class='row'>
                          <div class='col-md-4 text-left'>
                            <div class='outer'>
                                <a href='signal.html'>
                                    <div class='upper'>
                                      <img src='pictures/cookie0.png' alt="餅乾">
                                      <div class='innertext'>
                                          <span>有庫存</span>
                                      </div>
                                    </div>
                                    <div class='lower'>
                                        <span><i class="fas fa-cookie-bite"></i><i>萬聖節小餅乾</i></span><br>
                                        <span><i class="fas fa-comment-dollar"></i><i>500</i> </span><br>
                                    </div>
                                </a>
                            </div>
                          </div>
                          <div class='col-md-4 text-left'>
                            <div class='outer'>
                                <a href='signal.html'>
                                    <div class='upper'>
                                      <img src='pictures/cookie1.jpg' width="310" height="163" alt="餅乾">
                                      <div class='innertext'>
                                          <span>有庫存</span>
                                      </div>
                                    </div>
                                    <div class='lower'>
                                        <span><i class="fas fa-cookie-bite"></i><i>萬聖節小餅乾</i></span><br>
                                        <span><i class="fas fa-comment-dollar"></i><i>500</i> </span><br>
                                    </div>
                                </a>
                              </div>
                          </div>
                          <div class='col-md-4 text-left'>
                              <div class='outer'>
                                  <a href='signal.html'>
                                      <div class='upper'>
                                          <img src='pictures/cookie2.jpg' width="310" height="163" alt="餅乾">
                                          <div class='innertext'>
                                              <span>有庫存</span>
                                          </div>
                                      </div>
                                      <div class='lower'>
                                          <span><i class="fas fa-cookie-bite"></i><i>萬聖節小餅乾</i></span><br>
                                          <span><i class="fas fa-comment-dollar"></i><i>500</i> </span><br>
                                      </div>
                                  </a>
                              </div>
                          </div>
                          <div class='col-md-4 text-left'>
                            <div class='outer'>
                                <a href='signal.html'>
                                    <div class='upper'>
                                      <img src='pictures/cookie3.jpg' width="310" height="163" alt="餅乾">
                                      <div class='innertext'>
                                          <span>有庫存</span>
                                      </div>
                                    </div>
                                    <div class='lower'>
                                        <span><i class="fas fa-cookie-bite"></i><i>聖誕節小餅乾</i></span><br>
                                        <span><i class="fas fa-comment-dollar"></i><i>500</i> </span><br>
                                    </div>
                                </a>
                            </div>
                        </div>								
                          <div class='col-md-4 text-left'>
                            <div class='outer'>
                                <a href='signal.html'>
                                    <div class='upper'>
                                      <img src='pictures/cookie4.jpg'width="310" height="163"alt="餅乾">
                                      <div class='innertext'>
                                          <span>有庫存</span>
                                      </div>
                                    </div>
                                    <div class='lower'>
                                        <span><i class="fas fa-cookie-bite"></i><i>聖誕節小餅乾</i></span><br>
                                        <span><i class="fas fa-comment-dollar"></i><i>500</i> </span><br>
                                    </div>
                                </a>
                            </div>
                        </div>
                          <div class='col-md-4 text-left'>
                              <div class='outer'>
                                  <a href='signal.html'>
                                      <div class='upper'>
                                          <img src='pictures/cookie5.jpeg' width="310" height="163" alt="餅乾">
                                          <div class='innertext'>
                                              <span>有庫存</span>
                                          </div>
                                      </div>
                                      <div class='lower'>
                                          <span><i class="fas fa-cookie-bite"></i><i>萬聖節小餅乾</i></span><br>
                                          <span><i class="fas fa-comment-dollar"></i><i>500</i> </span><br>
                                      </div>
                                  </a>
                              </div>
                          </div>
                      </div>

                  </div>
                  </div>
            </div>
        </div>
    </section>
</body>

</html>