<!DOCTYPE html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC|Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/68f8681dba.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/style.css">
	<meta charset="utf-8">
	<title>會員登入頁面</title>

    <link rel="stylesheet" href="c_index.css" type="text/css">
</head>
<body>
    <header>
        <div class='container'>
            <nav class="navbar navbar-expand-lg navbar-light">
              <a class="navbar-brand" href="home.html"><img src='pictures/logo.jpg' width='105'></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="home.html">主頁</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="contact.html">聯絡我們</a>
                  </li>	
                  <li class="nav-item">
                    <a class="nav-link" href="faq.html">常見問題</a>
                  </li>			
                  <li class="nav-item">
                    <a class="nav-link" href="login.html">登入</a>
                  </li>
                </ul>
              
              </div>
            </nav>
        </div>
    </header>
    <div class="container">
        <div class="row" >
            <div class="col align-self-start">
                <br>
            </div>
            <div style="margin-top: 70px" class="col align-self-center bg-light border border-3 rounded rounded-3">
                <h4 style="text-align: center;margin: 15px;padding-bottom:10px;font-size: 35px; color: gray">會員登入</h4>
                <div  class="input-group mb-3">
                    <span style="font-size: 23px;padding: 5px" class="input-group-text" id="userid">帳號</span>
                    <input style="font-size: 23px;padding: 5px"type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                    <span style="font-size: 23px;padding: 5px"class="input-group-text" id="password" >密碼</span>
                    <input style="font-size: 23px;padding: 5px" input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
                </div>
                <div style="text-align: center">
                    <button style="margin-left: 10px;"type="button" class="btn2 btn-light">
                        <a href="home.html"><span style="color:#FFF2F2;">login</span></a>
                    </button>

                </div>
                <div style="text-align: center; margin: 15px;">沒有帳號嗎?
                    <a href="register.html" target="註冊">註冊</a>
                </div>
            </div>
            <div class="col align-self-end">
                <br>
            </div>
        </div>
    </div>
</body>
</html>