<!DOCTYPE html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC|Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href=" https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css " integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="  https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="  https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src=" https://kit.fontawesome.com/68f8681dba.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/style.css">
    <title>profile</title>
</head>

<body>
<header>
    <div class='container'>
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" th:href="@{/home}"><img src='pictures/logo.jpg' width='105'></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/home}">主頁</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">聯絡我們</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">常見問題</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/login}">登入</a>
                    </li>
                </ul>
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/profile}"><img src='pictures/user.png'  width="40" height="40" ></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/shopcart}"><img src='pictures/shopcart.jpg'  width="40" height="40" ></a>
                    </li>
                </ul>

            </div>
        </nav>
    </div>
</header>


  <div id="DIV1" class='col'>
      <h4 style="text-align: center; padding:15px; ">我的帳戶</h4>
      <div class="row" style="text-align: center">
        <img style="margin:auto;" src="pictures/profilepic.png" ></div>
        <div class="list-group">
            <a th:href="@{/home}" class="list-group-item list-group-item-action active" style="background-color:#ff7970;border-color: #ffa6a0;">
                個人檔案
            </a>
            <a href="#" class="list-group-item list-group-item-action disabled">銀行帳號</a>
            <a href="#" class="list-group-item list-group-item-action disabled">更改密碼</a>
            <a th:href="@{/history}" class="list-group-item list-group-item-action ">購買清單</a>

            <a href="#" class="list-group-item list-group-item-action disabled">優惠券</a>
        </div>
  </div>

  <div id="DIV3">
      <div class ='container'>
                <h4 style="text-align: center; padding:15px;">我的檔案</h4>
                <div class='row'>
                      <dt class="col-sm-4">使用者帳號</dt>
                      <dd class="col-sm-4">useremail@email.com</dd>
                       <dd class="col-sm-4"><button style="color: white;text-align: right" type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#exampleModal">
                           edit
                       </button></dd>

                      <dt class="col-sm-4">密碼</dt>
                      <dd class="col-sm-4"><input style="text-align: center;border: 0px; background-color: #FFE8E8" type="password"  id="password" value="1234567" disabled>
                          <button style="color: white;border: none;" type="button" class="badge badge-pill badge-danger" onclick="showPS()">
                          <i class="far fa-eye-slash"></i>
                          </button></dd>
                      <dd class="col-sm-4"><button style="color: white;text-align: right" type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#exampleModal">
                            edit
                      </button></dd>

                    <dt class="col-sm-4">姓名</dt>
                    <dd class="col-sm-4">我的名字</dd>
                    <dd class="col-sm-4"><button style="color: white;text-align: right" type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#exampleModal">
                        edit
                    </button></dd>

                    <dt class="col-sm-4">手機號碼</dt>
                    <dd class="col-sm-4">0912345678</dd>
                    <dd class="col-sm-4"><button style="color: white;text-align: right" type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#exampleModal">
                        edit
                    </button></dd>

                    <dt class="col-sm-4">生日</dt>
                    <dd class="col-sm-4">2022/1/4</dd>
                    <dd class="col-sm-4"><button style="color: white;text-align: right" type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#exampleModal">
                        edit
                    </button></dd>

                    <dt class="col-sm-4">地址</dt>
                    <dd class="col-sm-4">台中市 好遠的一個地方</dd>
                    <dd class="col-sm-4"><button style="color: white;text-align: right" type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#exampleModal">
                        edit
                    </button></dd>


                  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">更改</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                  </button>
                              </div>
                              <div class="modal-body">
                                  <input style="color: dimgray;text-align:center;font-size: 15px;padding: 5px"type="text" class="form-control" placeholder=" " aria-label="Username" aria-describedby="basic-addon1">
                                  <b font face="微軟正黑體">按下 Save 確定修改檔案</b>
                              </div>
                              <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                  <button type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
                              </div>
                          </div>
                      </div>
                  </div>
                </div>
          </div>
      </div>
   </div>


<script>
    function showPS() {
        var x=document.getElementById("password");
        if(x.type==="password"){
            x.type="text";
        }
        else{
            x.type="password"
        }

    }
</script>
</body>
</html>