<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC|Open+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/68f8681dba.js" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="css/style.css">
  <meta charset="utf-8">
  <title>會員註冊</title>
  <style>
      
        /*{
            @import url("c_index.css");
        }*/
        .sq{
                width:300px;
                height:500px;
                background: #E6E6F2;
                margin:70px auto;
                border-radius: 10px ;/*左上右上右下左下*/
        }
        .title{
                width:100%;
                height:50px;
                background: #E6E6F2;
                text-align: center;
                line-height: 50px;
                float: left;
                border-radius: 10px 10px 10px 10px;/*左上右上右下左下*/
        }
        .content{
                width:280px;
                height:40px;
                background: #FFFFFF;
                margin-left:10px;
                margin-top: 5px;
                text-align: center;
                line-height: 40px;
                float: left;
        }
  </style>
    <link rel="stylesheet" href="c_index.css" type="text/css">
</head>
<body>
  <header>
    <div class='container'>
        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand" href="home.html"><img src='pictures/logo.jpg' width='105'></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="home.html">主頁</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact.html">聯絡我們</a>
              </li>	
              <li class="nav-item">
                <a class="nav-link" href="faq.html">常見問題</a>
              </li>			
              <li class="nav-item">
                <a class="nav-link" href="login.html">登入</a>
              </li>
            </ul>
          
          </div>
        </nav>
    </div>

      <div class="container">
          <div class="row" >
              <div class="col align-self-start">
                  <br>
              </div>
              <div style="margin-top: 70px" class="col align-self-center bg-light border border-3 rounded rounded-3">
                  <h4 style="text-align: center;margin: 15px;padding-bottom:10px;font-size: 35px; color: gray">會員註冊</h4>
                  <div  class="input-group mb-3">
                      <span style="font-size: 23px;padding: 5px" class="input-group-text" id="username">姓名</span>
                      <input style="color: dimgray;font-size: 23px;padding: 5px"type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                  </div>

                  <div  class="input-group mb-3">
                      <span style="font-size: 23px;padding: 5px" class="input-group-text" id="userid">帳號</span>
                      <input style="color: dimgray;font-size: 23px;padding: 5px"type="text" class="form-control" placeholder="User ID" aria-label="Username" aria-describedby="basic-addon1">
                  </div>
                  <div class="input-group mb-3">
                      <span style="font-size: 23px;padding: 5px"class="input-group-text" id="password" >密碼</span>
                      <input style="font-size: 23px;padding: 5px" input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
                  </div>
                  <div class="input-group mb-3">
                      <span style="font-size: 23px;padding: 5px"class="input-group-text" id="re_password" >確認密碼</span>
                      <input style="font-size: 23px;padding: 5px" input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
                  </div>
                  <div  class="input-group mb-3">
                      <span style="font-size: 23px;padding: 5px" class="input-group-text" id="gender">性別</span>
                      <div style="color: dimgray;font-size: 23px;margin-left: 30px; class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                          <label style="padding: 5px" class="form-check-label" for="inlineRadio1">MALE</label>
                      </div>
                      <div style="color: dimgray;font-size: 23px;margin-left: 30px;class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                          <label style="padding: 5px"class="form-check-label" for="inlineRadio2">FEMALE</label>
                      </div>
                  </div>
                  <div class="row">
                      <div  style="margin-left: 15px;" class="input-group mb-3">
                          <span style="font-size: 23px;padding: 5px" class="input-group-text" id="address">地址</span>

                          <div class="col-md">
                              <div  class="form-floating">
                                  <select style="color: dimgray; font-size: 20px; width:45%; padding: 7px;border: #cccccc" class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                                      <option selected>選擇縣市</option>
                                      <option value="1">台北市</option>
                                      <option value="2">新北市</option>
                                      <option value="3">基隆市</option>
                                      <option value="4">桃園市</option>
                                      <option value="5">新竹市</option>
                                      <option value="6">新竹縣</option>
                                      <option value="7">苗栗縣</option>
                                      <option value="8">台中市</option>
                                      <option value="9">彰化縣</option>
                                      <option value="10">南投縣</option>
                                      <option value="11">雲林縣</option>
                                      <option value="12">嘉義縣</option>
                                      <option value="13">嘉義市</option>
                                      <option value="14">台南市</option>
                                      <option value="15">高雄市</option>
                                      <option value="16">屏東縣</option>
                                      <option value="17">台東縣</option>
                                      <option value="18">花蓮縣</option>
                                      <option value="19">宜蘭縣</option>
                                  </select>
                              </div>
                          </div>
                      </div>

                      <div class="col-md">
                      <div class="form-floating">
                          <textarea class="form-control" placeholder="address" id="floatingTextarea2" style="height: 35px"></textarea>
                      </div>
                      </div>
                </div><br>
                <div class="input-group mb-3">
                  <span style="font-size: 23px;padding: 5px" class="input-group-text" id="birth">生日</span>
                  <div class = "content"> <input style="border: #cccccc;line-height: 28px;color:gray"  type="Date" required></div>
                </div>

                  <div style="text-align: center">
                      <button  style="font-size: 25px;color: white;text-align: center;" type="button" class="btn2 btn-outline-danger" data-toggle="modal" data-target="#exampleModal">
                          save
                      </button>
                  </div>
                  <div style="text-align: center; margin: 15px;">
                      <a href="register.html" target="註冊"></a>
                  </div>
              </div>
              <div class="col align-self-end">
                  <br>
              </div>
          </div>
      </div>
</header>


</body>
</html>