<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC|Open+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/68f8681dba.js" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="css/style.css">
  <meta charset="utf-8">
  <title>會員註冊</title>
  <style>
      
        /*{
            @import url("c_index.css");
        }*/
        .sq{
                width:300px;
                height:500px;
                background: #E6E6F2;
                margin:70px auto;
                border-radius: 10px ;/*左上右上右下左下*/
        }
        .title{
                width:100%;
                height:50px;
                background: #E6E6F2;
                text-align: center;
                line-height: 50px;
                float: left;
                border-radius: 10px 10px 10px 10px;/*左上右上右下左下*/
        }
        .content{
                width:280px;
                height:40px;
                background: #FFFFFF;
                margin-left:10px;
                margin-top: 5px;
                text-align: center;
                line-height: 40px;
                float: left;
        }
  </style>
    <link rel="stylesheet" href="c_index.css" type="text/css">
</head>
<body>
  <header>
    <div class='container'>
        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand" href="home.html"><img src='pictures/logo.jpg' width='105'></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="home.html">主頁</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact.html">聯絡我們</a>
              </li>	
              <li class="nav-item">
                <a class="nav-link" href="faq.html">常見問題</a>
              </li>			
              <li class="nav-item">
                <a class="nav-link" href="login.html">登入</a>
              </li>
            </ul>
          
          </div>
        </nav>
    </div>
</header>
<form action="c_password_in.php" method="post">
  <fieldset>
    <div>
    <div class = "sq">
     <div class = "title">會員【基本資料】</div>
     <div class = "content">姓名:<input style="line-height: 28px;" type="text" name = 'c_na' placeholder="Your full name" required></div>
     <div class = "content">Gender:<input style="line-height: 28px;"  type="radio" name="Gender" value="male" required>Male
                                   <input style="line-height: 28px;"  type="radio" name="Gender" value="female">Female</div>
     <div class = "content">帳號<input style="line-height: 28px;"  type="email" name = 'c_mail' placeholder="Your email" required></div>
     <div class = "content">密碼<input style="line-height: 28px;"  type="text" name = 'c_pw' placeholder="Your phonenumber" required></div>
     <div class = "content">確認密碼 <input  style="line-height: 28px;" type="password" required></div>
     <div class = "content">生日 <input style="line-height: 28px;"  type="Date" required></div>
     <div class = "content">country <select name="favorite" id="country" required>
                                    <option value="台北市" selected>台北市</option>
                                    <option value="新北市">新北市</option>
                                    <option value="基隆市">基隆市</option>
                                    <option value="桃園市">桃園市</option>
                                    <option value="新竹市">新竹市</option>
                                    <option value="新竹縣">新竹縣</option>
                                    <option value="苗栗縣">苗栗縣</option>
                                    <option value="台中市">台中市</option>
                                    <option value="彰化縣">彰化縣</option>
                                    <option value="南投縣">南投縣</option>
                                    <option value="雲林縣">雲林縣</option>
                                    <option value="嘉義縣">嘉義縣</option>
                                    <option value="嘉義市">嘉義市</option>
                                    <option value="台南市">台南市</option>
                                    <option value="高雄市">高雄市</option>
                                    <option value="屏東縣">屏東縣</option>
                                    <option value="台東縣">台東縣</option>
                                    <option value="花蓮縣">花蓮縣</option>
                                    <option value="宜蘭縣">宜蘭縣</option>
                                    </select></div>
      <div class = "content">地址<input style="line-height: 28px;"  type="text" name = 'c_ad'placeholder="Your address" required></div>
      <div class = "content"><button style="line-height: 20px;" >確定</button></div>
    </div>
  </fieldset>
</form>

</body>
</html>